@media (max-width:990px) {
    .Banner{
        display: none;
    }
    .BannerPad{
        display: block;
    }
    .BannerImgPad{
        width: 100%;
        margin-top: 80px;
    }
    .BannerCharBackground{
        background-color: #004156;
        text-align: center;
    }

    .BannerTitle{
        padding-top: 30px;
    }
    .BannerChar{
        padding-bottom: 30px;
    }
    .PcChar{
        display: none;
    }
    .PadChar{
        display: inline-block;
        width: 50%;
        margin-bottom: 60px;
    }
    .BlueTitle{
        margin-top: 40px;
    }

    .ColorImg{
        margin-bottom: 60px;
    }
    .WhiteTitle{
        padding-top: 40px;
        margin-bottom: 40px;
    }

    .VersionChar{
        font-family: Microsoft JhengHei;
        font-size: 20px;
    }
    
    .Title {
        font-size: 30px;
        font-family: Simsun;
    }
    .RoomCharBlock{
        margin-bottom: 60px;
    }

    .PadMemberPic{
        width: 80%;
        max-width: 1200px;
        margin-bottom: 170px;
        display: inline-block;
    }
    .MemberPic,.PhoneMemberPic{
        display: none;
    }

    .bottompad{
        position: relative;
        float: left;
        margin-top: 0px;
    }
}