@media (max-width:990px) {
    .Title {
        font-size: 30px;
    }

    .Char {
        font-size: 20px;
    }

    .bottompad {
        margin-top: 150px;
    }
    .MemberLeft{
        width: 100%;
    }
    .MembersPic{
        width: 80%;
        margin-top: 5%;
    }

    .Title{
        margin: 4% 0;
    }
    .MemberRight{
        width: 90%;
        padding: 0 0 10% 0;
    }
    .ContactTitle{
        margin: 15% 0 1% 0;;
    }
    .Banner{
        margin-top: 40px;
    }
}
