@media (max-width:990px) {
    .header {
        display: none;
    }
    .NavBar {
        display: block;
        width: 95%;
        position: relative;
        z-index: 1;
    }
    .titleLOGO2 {
        position: absolute;
        left: calc(50% - 180px);
        padding-top: 20.5px;
        width: 400px;
        z-index: 2;
    }
    .navbar {
        top: 66.5px;
        margin: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0);
    }
    .navbar-light {
        font-size: 25px;
        color: #004156;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #004156;
    }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
        color: #004156;
        font-weight:bold;
    }
    .dropdown-item, .dropdown-item:hover {
        font-size: 20px;
        color: #004156;
        font-weight: bold;
    }
    .dropdown-item:hover{
        background-color: rgba(0, 65, 86, 0.2);
    }
    .nav-item dropdown {
        color: white;
    }
    /* .bottom{
        height: 280px;
    } */
    .bottom,.bottomphone{
        display: none;
    }
    .bottompad{
        display: block;
        background-color: #004156;
        width: 100%;
        text-align: center;
        margin-top: 190px;
    }
    .bottomHouse2{
        margin-top: -100px;
        max-width: 906px;
        width: 99%;
    }
    .bottomChar2{
        margin-top: 30px;
        margin-bottom: 40px;
        max-width: 768px;
        width: 95%;
    }
    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
        width: 95%;
    }
    .englishicon{
        width: 100px;
        position: relative;
        top: 0;
        left: 0;
    }
}