@media (min-width:1185px) {
    .headernav {
        width: 150px;
        border-top: 2.5px #004156 solid;
        border-bottom: 2.5px #004156 solid;
        font-size: 25px;
        padding: 10px 0 10px 0;
        float: left;
        font-family: Microsoft JhengHei;
        color: #004156;
    }
    .header {
        margin-top: 50px;
        text-align: center;
        width: 100%;
        height: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .headernav:hover, .headernav:focus {
        background-color: rgba(0, 65, 86, 0.3);
        color: #004156;
    }
    .titleLOGO {
        width: 175px;
        height: 175px;
        float: left;
        margin: 0 50px 0 50px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: black;
    }
    .bottom {
        width: 100%;
        background-color: #004156;
        text-align: center;
    }
    .bottomHouse {
        width: 99%;
        margin-top: -100px;
        max-width: 1416px;
    }
    .bottomChar {
        margin-top: 30px;
        width: 95%;
        max-width: 1201px;
        margin-bottom: 30px;
    }
    .NavBar {
        display: none;
    }
    .bottompad, .bottomphone {
        display: none;
    }
    .btn-secondary {
        background-color: white;
        border-left: 0;
        border-right: 0;
    }
    .btn {
        border-radius: 0;
    }
    .info:hover::before {
        position: absolute;
        top: -30px;
        left: 10.5px;
        color: #004156;
        font-size: 17px;
        padding: 5px;
        content: '展覽各類別資訊';
    }
    .dropdown-item{
        font-size: 22px;
        color: #004156;
        font-family:Microsoft JhengHei;
    }
    .dropdown-item:hover{
        background-color: rgba(0, 65, 86, 0.7);
        color: white;
    }
    .englishicon{
        width: 100px;
        position: absolute;
        top: -70px;
        left: 50px;
    }
}

@media (min-width:990px) {
    .header{margin-bottom: 40px;}
}