@media (max-width:1023px) {
    .TEXT {
        margin-top: 50px;
    }
    .BANNER {
        width: 100%;
        max-width: 1422px;
    }
    .bottom {
        margin-top: 250px;
    }
    .textchar {
        font-size: 25px;
        color: #004156;
        font-family: Microsoft JhengHei;
        z-index: 5;
    }
    .CHAR {
        position: relative;
        left: calc(50% - 394px);
        width: 788px;
    }
    .ICON {
        margin-top: 40px;
    }
    .Title {
        position: relative;
        left: 70px;
        top: -52px;
    }
    .Text{
        position: relative;
        top: -25px;
    }
    .Banner{
        text-align: center;
    }
}